{% extends 'base.html' %}

{% block titulo %}
    Actualizar Usuario
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    <h1 class="text-center mb-0">Actualizar Usuario</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3 float-right">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}