{% extends 'base.html' %}

{% block titulo %}
    Perfil {{ perfil_tipo }}
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-header">
                        <h1 class="text-center mb-0">Perfil {{ perfil_tipo }}</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary mt-3 float-right">Guardar</button>
                            {% if user and user.cliente %}
                                {% if 'usuarios.permiso_cliente' in perms %}
                                    <a href="{% url 'home' %}" class="btn btn-danger mt-3 float-left"><i class="bi bi-pencil"></i> Regresar</a>
                                {% endif %}
                            {% elif user and user.administrador %}
                                {% if 'usuarios.permiso_administrador' in perms %}
                                    <a href="{% url 'home' %}" class="btn btn-danger mt-3 float-left"><i class="bi bi-pencil"></i> Regresar</a>
                                {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}