.btn{
    font-size: 16px;
    color: white;
    padding: 7px;
    border-radius: 3px;
}
.btn-rojo{
    background-color: red;
}

.btn-verde{
    background-color: green;
}


.contenedor_general{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
}

.contenedor_general_promedio{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
}

.contenedor_resena{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(e, 0, 0, 0.1);
    background-color:white;
    padding:20px;
    margin:15px;
    cursor:pointer;
}

.contenedor_promedio{
    width: 200px;
    box-shadow: 2px 2px 30px rgba(e, 0, 0, 0.1);
    background-color:lightcyan;
    padding:20px;
    margin:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor_nombre_fecha{
    display:flex;
    align-items:self-start;
    flex-direction: column;
}



.contenedor_nombre_fecha strong {
    color: black;
    font-size:large;
}

.contenedor_nombre_fecha span{
    color: lightslategray;
    font-size:medium;
}

.contenedor_estrellas i{
    color: #f9d71c;
}

.cont_sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor_descripcion p{
    color: darkslategrey;
    font-size:large;
    align-items: center;
}

.contenedor_boton_agregar{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    max-height: 100px;
    min-height: 100px;
    
}



.table-scroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.btn-blanco {
    color: #000;
    background-color: #d0d6d8;
    border-color: #c5ced1;
  }
