<li class="nav-item nav-category">Usuarios</li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#Usuarios" aria-expanded="false" aria-controls="Usuarios">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <span class="menu-title">Usuarios</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="Usuarios">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'lista_usuarios' %}">Lista</a></li>
            </ul>
        </div>
    </li>     
</li>


<li class="nav-item nav-category"> Reportes</li>    